/* IMPORT FONTU */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f0f0f; /* Podklad stránky */
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: #161616;
    border-bottom: 2px solid #222;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-img { height: 45px; width: auto; }
.site-name { font-size: 1.6rem; font-weight: 700; }

/* MENU */
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li a {
    text-decoration: none;
    color: #aaaaaa;
    font-weight: 600;
    font-size: 1.1rem;
    transition: 0.3s;
}

/* Gradient na aktivní stránce v menu */
.nav-links li a.active {
    font-weight: 800;
    background: linear-gradient(to right, #ff0000, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* HERO SECTION - ROZLOŽENÍ */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 85vh;
    padding: 0 10%;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 4rem;
    margin-
