/* IMPORT FONTU */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f0f0f;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    background-color: #161616;
    border-bottom: 2px solid #222;
    height: 80px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-img { height: 45px; width: auto; }
.site-name { font-size: 1.6rem; font-weight: 700; }

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li a {
    text-decoration: none;
    color: #aaaaaa;
    font-weight: 600;
    transition: 0.3s;
}

.nav-links li a.active {
    font-
