/* STREAM PAGE LAYOUT */
.stream-container {
    display: flex;
    width: 100%;
    height: calc(100vh - 85px); /* Přesná výška pod menu */
    background-color: #000;
    margin: 0 !important;
    padding: 0 !important;
    max-width: 100% !important;
    align-items: stretch;
}

.stream-video {
    flex: 7.5;
    background-color: #000;
}

.stream-chat {
    flex: 2.5;
    border-left: 2px solid #1a1a1a;
    background-color: #0e0e10; /* Barva Twitch chatu */
}

/* Úprava pro mobilní zobrazení */
@media (max-width: 1000px) {
    .stream-container {
        flex-direction: column;
        height: auto;
    }
    .stream-video {
        width: 100%;
        aspect-ratio: 16 / 9;
    }
    .stream-chat {
        width: 100%;
        height: 450px;
        border-left: none;
        border-top: 2px solid #1a1a1a;
    }
}
