/* --- HEADER / MENU --- */
header {
    height: 80px;
    background: #161616;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    border-bottom: 2px solid #222;
    width: 100%;
}

.logo-box {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-img {
    height: 45px;
    width: auto;
}

.logo-text {
    font-size: 1.7rem;
    font-weight: 800;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #aaaaaa; /* Základní šedá barva */
    font-weight: 600;
    font-size: 1.1rem;
    transition: 0.3s ease; /* Plynulý přechod barvy */
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}

/* TATO ČÁST ZAJISTÍ ZESVĚTLENÍ PŘI NAJETÍ */
.nav-links a:hover {
    color: #ffffff; /* Čistě bílá při najetí */
}

.nav-links a.active {
    font-weight: 800;
    background: linear-gradient(to right, #ff0000, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 2px solid #ff0000;
}
